body,
html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-width: 250px;
}

button {
  background-color: rgb(136, 218, 243);
  border-style: double;
  border-width: 5px;
  border-radius: 5px;
  border-color: #9bfda0;
  padding: 15px;
  font-family: "Poiret One";
  font-size: 20px;
  font-weight: bold;
  box-shadow: 5px 5px 5px #9e93f7;
  cursor: pointer;
}

#intro {
  background-color: #9e93f7;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.instructions {
  display: flex;
  flex-direction: column;
  justify-content: left;
  font-family: "Poiret One";
}

.instructions h1 {
  font-size: 3rem;
  letter-spacing: 5px;
  margin-left: 2.5rem;
}

ul {
  list-style: none;
  line-height: 2rem;
  font-size: 2rem;
}

#preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: pink;
  height: 100%;
  align-items: center;
}

#preview-characters {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#preview-countdown {
  font-size: 8rem;
  margin-top: 2rem;
  font-family: "Poiret One";
}

#game-countdown {
  font-family: "Poiret One";
  position: fixed;
  height: 56px;
  top: 0;
  font-size: 3rem;
  color: black;
  background: #f1a8dba6;
  z-index: 2;
  text-align: center;
  width: 100%;
}

.character.disabled {
  cursor: not-allowed;
  filter: grayscale();
}

.character.found {
  background-color: #6dff6d;
  cursor: not-allowed;
}

.character:hover.found,
.character:hover.found .head,
.character:hover.found .mouth,
.character:hover.disabled,
.character:hover.disabled .head,
.character:hover.disabled .mouth {
  animation: none;
}

#categories {
  background-color: pink;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 10px;
  gap: 50px;
  flex-wrap: wrap;
  box-shadow: 5px 5px 5px 5px pink;
}

#characters {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 150px);
  justify-content: center;
  margin-top: 76px;
}

.character {
  width: 150px;
  height: 150px;
  border-top-color: rgb(165, 149, 255);
  border-right-color: #9bfda0;
  border-bottom-color: rgb(170, 220, 248);
  border-left-color: pink;
  border-width: 2px;
  border-style: dashed;
  border-radius: 5px;
  position: relative;
  min-width: 150px;
  background-color: #cbeaff80;
  cursor: pointer;
}

#victory,
#loss {
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  font-family: "Poiret One";
  font-size: 3rem;
}

#victory {
  background-color: rgb(120, 247, 120);
}

#loss {
  background-color: rgb(255, 117, 117);
}

@keyframes characterBackground {
  0% {
    background-color: pink;
  }
  30% {
    background-color: rgb(141, 183, 245);
  }
  60% {
    background-color: rgb(168, 255, 168);
  }

  100% {
    background-color: pink;
  }
}

.character:hover {
  animation: characterBackground 1.5s infinite;
}

.character:hover .mouth {
  animation: closeMouth 1s infinite;
}

.character:hover .head {
  animation: bobbleHead 1s infinite;
}

@media screen and (min-width: 250px) {
  #characters {
    grid-template-columns: repeat(1, 150px);
  }
  .instructions {
    margin-right: 25px;
  }
  .instructions h1 {
    font-size: 1rem;
  }

  ul {
    font-size: 1rem;
  }

  #preview-characters {
    gap: 10px;
  }

  #preview-countdown {
    font-size: 6rem;
  }

  #victory,
  #loss {
    font-size: 1rem;
  }
}

@media screen and (min-width: 648px) {
  #characters {
    grid-template-columns: repeat(3, 150px);
  }

  #preview-characters {
    flex-direction: row;
  }

  .instructions h1 {
    font-size: 2rem;
  }

  ul {
    line-height: 3rem;
    font-size: 1.5rem;
  }
  #victory,
  #loss {
    font-size: 2rem;
  }
}

@media screen and (min-width: 848px) {
  #characters {
    grid-template-columns: repeat(4, 150px);
  }
  .instructions h1 {
    font-size: 2rem;
  }

  ul {
    line-height: 3rem;
    font-size: 1.5rem;
  }
  #victory,
  #loss {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1024px) {
  #characters {
    grid-template-columns: repeat(5, 150px);
  }
  .instructions h1 {
    font-size: 2rem;
  }

  ul {
    line-height: 3rem;
    font-size: 1.5rem;
  }
  #victory,
  #loss {
    font-size: 3rem;
  }
}

@media screen and (min-width: 1140px) {
  #characters {
    grid-template-columns: repeat(6, 150px);
  }

  #victory,
  #loss {
    font-size: 3rem;
  }
}
