.character {
  width: 200px;
  height: 235px;
  border: solid black 2px;
  position: relative;
  min-width: 200px;
  background-color: #cbeaff91;
}

/* Beginning of head */
.head {
  width: 100px;
  height: 90px;
  background-color: rgb(247, 223, 178);
  position: absolute;
  left: 0;
  right: 0;
  top: 29px;
  margin: 0 auto;
}

.female .head:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  border: 20px solid #b876768c;
  border-top: none;
  border-bottom: none;
  top: 56px;
  height: 6px;
  width: 38px;
}

.hair {
  position: absolute;
  border-style: solid;
  border-width: 17px;
  width: 66px;
  border-bottom: none;
  height: 16px;
}

.female .hair {
  height: 90px;
  z-index: 1;
  width: 70px;
  right: -2px;
  top: 0px;
  border-top-width: 23px;
}

.female .hair:before {
  content: "";
  border-right-style: solid;
  border-right-width: 20px;
  border-bottom-style: solid;
  border-bottom-width: 38px;
  position: absolute;
  top: -27px;
  z-index: 0;
  height: 10px;
  left: 1px;
  transform: rotate(61deg);
}

.female .hair:after {
  content: "";
  border-right-style: solid;
  border-right-width: 25px;
  border-bottom-style: solid;
  border-bottom-width: 30px;
  position: absolute;
  top: -40px;
  z-index: 0;
  height: 0px;
  left: 55px;
}

.black {
  border-color: black;
}
.blonde,
.female .blonde.hair:before,
.female .blonde.hair:after {
  border-color: rgb(255 255 207);
}

.brunette,
.female .brunette.hair:before,
.female .brunette.hair:after {
  border-color: #441e02;
}

.ginger,
.female .ginger.hair:before,
.female .ginger.hair:after {
  border-color: #e99153;
}

.eyes {
  position: absolute;
  height: 20px;
  width: 100%;
  top: 36px;
}

.eye {
  background-color: white;
  width: 25px;
  height: 15px;
  position: absolute;
  border-top: 2px solid #8b640b;
}

.female .eye {
  border-bottom: 1px black solid;
}

.eye.left {
  left: 17px;
}

.eye.right {
  right: 17px;
}

.iris {
  position: absolute;
  height: 11px;
  width: 10px;
  bottom: 0;
}

.left .iris {
  right: 4px;
}

.right .iris {
  left: 4px;
}

.iris.blue {
  background-color: #b0ffff;
}

.iris.green {
  background-color: #28f032;
}

.pupil {
  position: absolute;
  bottom: 0;
  height: 7px;
  width: 6px;
  background-color: black;
}

.right .pupil {
  left: 1px;
}

.left .pupil {
  right: 1px;
}

.ears:before {
  content: "";
  width: 5px;
  height: 15px;
  background-color: #dfb044;
  position: absolute;
  top: 42px;
  left: -5px;
}

.ears:after {
  content: "";
  width: 5px;
  height: 15px;
  background-color: #dfb044;
  position: absolute;
  top: 42px;
  right: -5px;
}

.nose {
  position: absolute;
  width: 5px;
  height: 7px;
  background-color: #dfb044;
  top: 55px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.mouth {
  position: absolute;
  width: 35px;
  height: 21px;
  bottom: 4px;
  background-color: #b87676;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.mouth:before {
  content: "";
  width: 31px;
  height: 6px;
  position: absolute;
  background-color: white;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 1px;
}

.mouth:after {
  content: "";
  width: 31px;
  height: 3px;
  position: absolute;
  background-color: white;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 1px;
}
/* End of head */

/* Beginning of body */
.body {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 0;
  width: 85px;
  height: 115px;
  background-color: rgb(88, 165, 189);
}
.arm {
  position: absolute;
  top: 3px;
  background-color: #58a5bd;
  width: 30px;
  height: 70px;
}
.arm.left {
  left: -20px;
  transform: rotate(30deg);
}

.arm.right {
  right: -20px;
  transform: rotate(150deg);
}

.hand {
  position: absolute;
  background-color: #f7dfb2;
  width: 20px;
  height: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.left .hand {
  bottom: -10px;
}

.right .hand {
  top: -10px;
}

/* End of body */
